#jm_footer{
	background: $color_dark;
	padding: 3em 0;

	// Menu social network
	#jm_socialnetworkfooter{
		text-align: center;
		padding: 2em 0;
		text-align: center;

		li{
			@include animation(.1s, ease-in);
			display: inline-block;
			text-align: center;
			margin: 0 5%;

			a{
				display: block;
			}

			&:hover {
				transform: translateY(-10px);
				.icon{
					fill: $color_primary;
				}
			}
		}
	}


	#jm_navfooter{
		ul{
			position: relative;
			width: 50%;
			margin: auto;
			text-align: center;
		}	
	
		li{
			display: inline-block;
			margin: 10% 5%;
		}

		a{
			font-size: 1.2em;
			display: block;
			color: $color_gray_dark;
			text-decoration: none;

			&:hover{
				color: $color_light;
			}
		}
	}


	#jm_sign{
		p{
			text-align: center;
			font-size: 1.2em;
			color: $color_gray_dark;
			padding: 1em 0;
		}
	}


	.icon{
		@include animation(.2s, ease);
	}
}