html, body{
	font-family: 'Oxygen', sans-serif;
}



#jm_header{
	background: $color_light;

	#jm_logo{
		position: relative;
		top: 25px;

		img{
			@include animation(.1s, ease-in-out);
			&:hover{
				transform: translateY(-5px);
			}
		}
	}
}

// NavBar List
.nav_primary{
	#jm_navbar{

		ul{
			text-align: center;

			li{
				display: inline-block;
				margin: 0 -2px;
				a{
					padding: 2em 1.5em;
					display: block;
					color: $color_dark;
					background: $color_light;
					text-decoration: none;
					@include animation(.2s, ease);

					&:hover{
						background: $color_dark;
						color: $color_light;
					}
				}
			}
		}
	}


	#jm_search {
		padding: 1em 0;
		button{
			background: transparent;
			float: right;
			right: 10%;
		    position: relative;

			@include animation(.2s, ease);

			&:hover{
				transform: scale(1.2);
			}

			img{
				height: 45px;
			}
		}
	}

	.input-search{
		.jm-enviar{display: none}
		.jm-input-field{
			font-size: 16px;
			padding: 10px;
			margin-bottom: 10px;
			border: 2px solid $color_gray;
			display: none;

			&.active{
				display: block;
			}

			&:focus{
				border: 2px solid $color_primary;
			}
		}
	}
}