#jm_single{
	padding: 0;

	.header_single{
		margin: 0 0 4em 0;
		background: $color_gray;
		padding: 6em 0;

		h1.title_single{
			font-size: 4em;
			margin: 0;
			position: relative;
			bottom: 0;
			color: $color_primary;
		}
	}

	.body_post_single{
		p{
			font-size: 1.6em;
			margin-bottom: 2em;
			color: $color_gray_dark;
		}
	}
}