$t-color--light: #fff;
$t-color--dark: #000;
$t-color--neutro-light: #e6e6e6;
$t-color--neutro-dark: #bfbfbf;

$t-color--design: #5460ff;
$t-color--code: #45cc62;
$t-color--audiovisual: #ff4a41;
$t-color--behavior: #ffb443;
$t-color--games: #cc4db0;