$t-color--light: #fff;
$t-color--dark: #000;
$t-color--neutro-light: #e6e6e6;
$t-color--neutro-dark: #bfbfbf;

$t-color--design: #5460ff;
$t-color--code: #45cc62;
$t-color--audiovisual: #ff4a41;
$t-color--behavior: #ffb443;
$t-color--games: #cc4db0;

%t-bg-category{
    &[class*=design]{
        background-color: $t-color--design;
    }

    &[class*=programa]{
        background-color: $t-color--code;
    }

    &[class*=audiovisual]{
        background-color: $t-color--audiovisual;
    }

    &[class*=comportamento]{
        background-color: $t-color--behavior;
    }

    &[class*=jogos]{
        background-color: $t-color--games;
    }
}

%t-bg-category--dark{
    &[class*=design]{
        background-color: darken($t-color--design, 10%);
    }

    &[class*=programa]{
        background-color: $t-color--code;
    }

    &[class*=audiovisual]{
        background-color: $t-color--audiovisual;
    }

    &[class*=comportamento]{
        background-color: $t-color--behavior;
    }

    &[class*=jogos]{
        background-color: $t-color--games;
    }
}

%t-color-category{
    &[class*=design]{
        color: $t-color--design;
    }

    &[class*=programa]{
        color: $t-color--code;
    }

    &[class*=audiovisual]{
        color: $t-color--audiovisual;
    }

    &[class*=comportamento]{
        color: $t-color--behavior;
    }

    &[class*=jogos]{
        color: $t-color--games;
    }
}