%t-font-face--main{
    font-family: 'Hind', sans-serif;
}

%t-font-face--support{
    font-family: 'Pridi', serif;
}

%t-font--regular{
    font-weight: 400;
}

%t-font--bold{
    font-weight: 700;
}

%t-font--upper{
    text-transform: uppercase;
}

%t-font--lower{
    text-transform: lowercase;
}

%t-font--color-neutro{
    color: $t-color--neutro-dark;
}

$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}