%t-font-face--main{
    font-family: 'Hind', sans-serif;
}

%t-font-face--support{
    font-family: 'Pridi', serif;
}

%t-font--regular{
    font-weight: 400;
}

%t-font--bold{
    font-weight: 700;
}

%t-font--upper{
    text-transform: uppercase;
}

%t-font--lower{
    text-transform: lowercase;
}

%t-font--color-neutro{
    color: $t-color--neutro-dark;
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}