%t-font-face--main{
    font-family: 'Hind', sans-serif;
}

%t-font-face--support{
    font-family: 'Pridi', serif;
}

%t-font--regular{
    font-weight: 400;
}

%t-font--bold{
    font-weight: 700;
}