.m-author{
    background-color: $t-color--light;
    @extend %l-clear;
    margin-bottom: em(15);
    padding: em(25) em(45);

    .c-author__img{
        width: 100px;
        float: left;
    }
    
    .c-author__about{
        width: calc(100% - 110px);
        float: right;
    }
    
    .c-author__title{
        margin: 0;
        font-size: em(18);
        color: $t-color--neutro-dark;
    }
    
    .c-author__name{
        margin: 0;
        
        a{
            font-size: em(24);
            @extend %t-font--bold, %t-font-face--support;
            color: $t-color--dark;
            text-decoration: none;
        }
    }
    
    .c-author__description{
        font-style: italic;
        line-height: em(22);
        padding-left: em(20);
        border-left: 5px solid $t-color--neutro-dark;
        color: darken($t-color--neutro-dark,40%);
    }
}