.m-banner-main{
    margin: em(15) 0;
    position: relative;
    
    .slick-list{
        overflow: hidden;
    }
    
    .slick-dots{
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        z-index: 1;
        top: 15px;
        right: 10px;
        
        li{
            display: inline-block;
            opacity: .4;
            margin: 0 8px;
            
            &:hover,
            &.slick-active{
                opacity: 1;
            }
        }
        
        button{
            display: block;
            background: $t-color--light;
            border: 0;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            text-indent: -999em;
            overflow: hidden;
            cursor: pointer;
            
            &:focus{
                outline: none;
            }
        }
    }
    
    .c-banner-main__item{
        @extend %l-clear, %t-bg-category;
        background-color: $t-color--neutro-dark;
        position: relative;
        display: inline-block;
    }
    
    .c-banner-main__image{
        width: 68.5%;
        float: left;
    }
    
    .c-banner-main__info-box{
        width: 31.5%;
        float: right;
    }
    
    .c-banner-main__info-text{
        width: 31.5%;
        padding: em(0) em(30) em(15) em(15);
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .c-banner-main__post-link{
        text-decoration: none;
    }
    
    .c-banner-main__post-title{
        max-height: 100px;
        overflow: hidden;
        font-size: em(20);
        @extend %t-font--bold, %t-font-face--support;
        color: $t-color--light;
        position: relative;
    }
    
    .c-banner-main__description{
        color: $t-color--light;
        line-height: normal;
        max-height: 87px;
        overflow: hidden;
        font-size: em(13);
    }
}