.m-banner-category{
    margin: em(15) 0 0;
    position: relative;
    @extend %l-clear, %t-bg-category;
    background-color: $t-color--neutro-dark;
    position: relative;

    
    .c-banner-category__image{
        @media SCREEN AND (min-width: 1000px){
            width: 68.5%;
            float: left;
        }
    }
    
    .c-banner-category__info-box{
        @media SCREEN AND (min-width: 1000px){
            width: 31.5%;
            float: right;
        }
    }
    
    .c-banner-category__info-wrapper{
        padding: em(20);
        @media SCREEN AND (min-width: 1000px){
            padding: 0 em(20);
            position: absolute;
            bottom: 25px;
        }
    }
    
    .c-banner-category__title{
        font-size: em(32);
        color: $t-color--light;
        font-weight: 700;
        text-transform: uppercase;
        @extend %t-font-face--support;
        margin: 0 0 20px;
        word-break: break-all;
    }
    
    .c-banner-category__description{
        font-size: em(13);
        color: $t-color--light;
        opacity: .8;
        overflow: hidden;
        max-height: 180px;
    }
}