.m-category__loop{
    background-color: $t-color--light;
    padding: 30px 15px 10px;
    @extend %l-clear;
    
    .m-post{
        margin-bottom: 20px;
        @media SCREEN AND (min-width: 1000px){
            width: 25%;
            float: left;
            padding: 0 10px;
            
            &:nth-child(4n+5){
                clear: both;
            }
        }
    }
}