.m-category__loop{
    background-color: $t-color--light;
    padding: 30px 15px 10px;
    @extend %l-clear;
    
    .m-post{
        width: 25%;
        float: left;
        padding: 0 10px;
        margin-bottom: 20px;
        
        &:nth-child(4n+5){
            clear: both;
        }
    }
}