.m-post-box{
    @extend %l-clear;
    background-color: $t-color--light;
//    margin-bottom: em(18);
    
    .c-post-box__title{
        @extend %t-font-face--support, %t-font--bold;
        font-size: em(21);
        color: $t-color--light;
        border-top-width: 3px;
        border-top-style: solid;
        padding: em(6) em(20);
        margin: 0;
        
        &.is--behavior{
            background-color: $t-color--behavior;
            border-top-color: lighten($t-color--behavior, 10%);
        }
        
        &.is--design{
            background-color: $t-color--design;
            border-top-color: lighten($t-color--design, 10%);
        }
        
        &.is--code{
            background-color: $t-color--code;
            border-top-color: lighten($t-color--code, 10%);
        }
        
        &.is--audiovisual{
            background-color: $t-color--audiovisual;
            border-top-color: lighten($t-color--audiovisual, 10%);
        }
        
        &.is--games{
            background-color: $t-color--games;
            border-top-color: lighten($t-color--games, 10%);
        }
    }
    
    .c-post-box__ad{
        width: 160px;
        margin-left: em(30);
        margin-top: em(20);
        float: left;
    }
    
    .c-post-box__list{
        padding: em(20) em(5);
        
        &.t-col-3{
            .m-post{
                width: 33.3%;
                float: left;
                padding: em(15);
                
                &:nth-child(3n+4){
                    clear: both;
                }
            }
        }
        
        &.t-col-4{
            .m-post{
                width: 25%;
                float: left;
                padding: em(15);
                
                &:nth-child(4n+5){
                    clear: both;
                }
            }
        }
    }
    
    &.has--ad{
        .c-post-box__list{
            width: calc(100% - 200px);
            float: right;
        }
    }
}