.m-post{
    .c-post__image-box{
        margin: 0;
    }
    
    .c-post__image{
        display: block;
        border-width: 2px;
        border-style: solid;
        transition: .3s ease-in-out;
        
        &[class*=comportamento]{
            border-color: $t-color--behavior;
        }
        
        &[class*=design]{
            border-color: $t-color--design;
        }
        
        &[class*=programacao]{
            border-color: $t-color--code;
        }
        
        &[class*=audiovisual]{
            border-color: $t-color--audiovisual;
        }
        
        &[class*=jogo]{
            border-color: $t-color--games;
        }
    }
    
    .c-post__link{
        text-decoration: none;
    }
    
    .c-post__title{
        $lh: 1.2em;
        $l: 3;
        
        margin: em(10) 0;
        font-size: em(14);
        color: $t-color--dark;
        overflow: hidden;
        @extend %t-font--bold, %t-font-face--support;
        @include multiLineEllipsis( $lh, $l, $t-color--light );
        text-align: left;
    }
    
    
    .c-post__description{
        $lh: 1.2em;
        $l: 6;
        
        margin: em(10) 0;
        font-size: em(12);
        color: $t-color--dark;
        overflow: hidden;
        @include multiLineEllipsis( $lh, $l, $t-color--light );
        text-align: left;
    }
    
    &:hover{
        .c-post__image{
            transform: translateY(-5px);
            opacity: .9;
        }
    }
}