.m-post{
    .c-post__image-box{
        margin: 0;
        text-align: center;
        
        @media SCREEN AND (min-width: 1000px){
            text-align: left;
        }
    }
    
    .c-post__image{
        border-width: 2px;
        border-style: solid;
        
        @media SCREEN AND (min-width: 1000px){
            display: block;
            transition: .3s ease-in-out;
        }
        
        &[class*=comportamento]{
            border-color: $t-color--behavior
        }
        
        &[class*=design]{
            border-color: $t-color--design;
        }
        
        &[class*=programa]{
            border-color: $t-color--code;
        }
        
        &[class*=audiovisual]{
            border-color: $t-color--audiovisual;
        }
        
        &[class*=jogo]{
            border-color: $t-color--games;
        }
    }
    
    .c-post__link{
        text-decoration: none;
    }
    
    .c-post__title{
        margin: em(10) 0;
        font-size: em(14);
        color: $t-color--dark;
        overflow: hidden;
        @extend %t-font--bold, %t-font-face--support;
        max-height: 48px;
        
        @media SCREEN AND (min-width: 1000px){
            text-align: left;
        }
    }
    
    
    .c-post__description{
        margin: em(10) 0;
        font-size: em(12);
        color: $t-color--dark;
        overflow: hidden;
        max-height: 65px;
        
        @media SCREEN AND (min-width: 1000px){
            text-align: left;
        }
    }
    
    &:hover{
        .c-post__image{
            transform: translateY(-3px);
            opacity: .9;
        }
    }
}