.m-content-sigle{
    padding: em(30) em(80);
    background-color: $t-color--light;
    @extend %l-clear;
    
    .c-content-sigle__side{
        width: 165px;
        float: left;
    }
    
    .c-content-sigle__post{
        @extend %t-basic-format;
    }
    
    .c-content-sigle__share-title{
        font-size: em(18);
        @extend %t-font--bold;
    }
}