.m-content-sigle{
    background-color: $t-color--light;
    padding: em(20);
    
    @media SCREEN AND (min-width: 1000px){
        padding: em(30) em(80);
    }
    
    .c-content-sigle__side{
        width: 165px;
        float: left;
    }
    
    .c-content-sigle__post{
        @extend %t-basic-format;
    }
    
    .c-content-sigle__share-title{
        font-size: em(18);
        @extend %t-font--bold;
    }
}