*{
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

html{
	font-size: 100%;
}

img{
	max-width: 100%;
	height: auto;
}

.jm_add{
	margin: 0;
	margin: 35px 0;
}