.m-footer{
    background-color: $t-color--light;
    padding: em(10) 0 0 0;
    
    &:before{
        content: '';
        width: 100%;
        height: 3px;
        display: block;
        background-color: $t-color--neutro-dark;
    }
    
    .c-footer__main-nav{
        
    }
    
    .s-footer__main-nav-list{
        margin: 0;
        list-style: none;
        padding: 0;
        
        @media SCREEN AND (min-width: 1000px){
            float: left;
        }
        
        > li{
            @media SCREEN AND (min-width: 1000px){
                float: left;
            }
            
            >a{
                display: block;
                text-transform: uppercase;
                text-decoration: none;
                color: $t-color--neutro-dark;
                padding: em(25) em(15);
                font-size: em(15);
                border-bottom: 1px solid $t-color--neutro-dark;
                
                @media SCREEN AND (min-width: 1000px){
                    transition: .2s ease-in;
                    box-shadow: inset 0 0 0 0 $t-color--neutro-light;
                    
                    &:hover{
                        color: $t-color--dark;
                        box-shadow: inset 0 -100px 0 0 $t-color--neutro-light;
                    }
                }
            }
        }
    }
    
    .c-footer__logo{
        margin: em(35) 0 em(80);
        text-align: center;
        
        @media SCREEN AND (min-width: 1000px){
            text-align: right;
            float: right;
            margin: em(12) em(15) 0 0;
        }
    }
    
    .c-footer__logo-link{
        @extend %t-icon;
        width: 207px;
        height: 34px;
        opacity: .5;
        background-image: url('../img/logo.svg');
        
        @media SCREEN AND (min-width: 1000px){
            transition: opacity .2s;
            &:hover{
                opacity: 1;
            }
        }
    }
}