%l-clear{
    &:after{
        content: '';
        display: table;
        clear: both;
    }
}

%l-float--left{
    float: left;
}

%l-float--right{
    float: right;
}

body{
	@extend %t-font-face--main;
    @extend %t-font--regular;
    background-color: #e6e6e6;
}

.l-row{
    @extend %l-clear;
}

.l-container{
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
    @extend %l-clear;
}