%l-clear{
    &:after{
        content: '';
        display: table;
        clear: both;
    }
}

%l-float--left{
    float: left;
}

%l-float--right{
    float: right;
}

body{
	@extend %t-font-face--main;
    @extend %t-font--regular;
    background-color: #e6e6e6;
}

.l-row{
    @extend %l-clear;
}

.l-container{
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
    @extend %l-clear;
}


.s-banner-main__categories,
.s-post__categories{
    ul{
        padding: 0;
        margin: 0;
    }

    li{
        display: inline-block;
    }

    a{
        display: block;
        color: $t-color--light;
        text-decoration: none;
        padding: em(5) em(10);
        font-size: em(12);

        &[href*=design]{
            background-color: darken($t-color--design, 8%);
        }

        &[href*=programacao]{
            background-color: darken($t-color--code, 8%);
        }

        &[href*=audiovisual]{
            background-color: darken($t-color--audiovisual, 8%);
        }

        &[href*=comportamento]{
            background-color: darken($t-color--behavior, 8%);
        }

        &[href*=jogos]{
            background-color: darken($t-color--games, 8%);
        }
    }
}