.jm_category{
	.group_header{
		background: $color_dark;
		padding: 15px 0;
		margin-bottom: 30px;

		.category_header{
			text-align: center;

			h1{
				font-size: 5em;
				font-weight: 900;
				margin: 0 0 0.4em 0;
				color: $color_light;
			}

			.category_desc{
				p{
					font-size: 1.2em;
					color: $color_light;
					text-align: center;
					margin-bottom: 10px;
				}
			}
		}
	}
}
